body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    background: #2222;
    font-size: 120%;
    /*background-image: url("https://unsplash.com/blog/content/images/size/w1600/2024/03/ingmar-h-RWS1FY27DUg-unsplash-1.jpg");
    /* background-image: url("file:///C:/Users/Uyen%20Nguyen/Desktop/JRM/Weather-App/gc.avif"); */
    background-size: cover;
}

.hidden {
    display: none;
}

.error {
    color: #fff;
    font-size: 20px;
    margin-top: 2rem;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em 3em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
}

.form-search {
    position: relative;
}

.form-search i {
    position: absolute;
    left: 10px;
    top: 13px;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 2em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 20px;
    width: 85%;
}

input::placeholder {
    color: #928e8e;
}

button:hover {
    background: #7c7c7c6b;
}

.weather-unit {
    font-size: 20px;
    display: flex;
    margin-left: auto;
}

.weather-unit span {
    cursor: pointer;
}

.weather-unit span:first-child {
    margin-left: 3rem;
    margin-right: 1rem;
}

/*body*/
.city {
    margin-bottom: 0.5rem;
}

.datetime {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
    margin-top: 1rem;
}

.icon {
    width: 100px;
    margin-bottom: 0;
}

h1.temp {
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 0.2em;
}

.minmax {
    display: flex;
    justify-content: center;
}

.minmax p {
    font-size: 15px;
    margin: 0.5rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1.5rem;
    font-size: 15px;
}

@media (max-width:320px) {
    .card {
        height: 80%;
        padding: 1em;
    }

    input.search-bar {
        font-size: small;
        width: 70%;
        padding: 0.4em 2.5em;
    }

    .form-search i {
        font-size: 15px;
    }

    .weather-unit {
        font-size: small;
    }

    .weather-unit span:first-child {
        margin-left: 2rem;
        margin-right: 1.4rem;
    }

    .city {
        font-size: large;
    }

    .datetime {
        font-size: small;
    }

    .description {
        font-size: medium;
    }

    .icon {
        width: 80px;
        margin-bottom: 0;
    }

    .minmax p {
        font-size: small;
    }

    .info {
        font-size: small;
    }
}

@media (min-width:321px) and (max-width:400px) {
    .card {
        height: 85%;
        padding: 1em;
    }

    .search {
        padding: 10px;
    }

    input.search-bar {
        font-size: 18px;
        width: 70%;
    }

    .weather-unit span:first-child {
        margin-left: 3rem;
        margin-right: 1.3rem;
    }

    .city {
        font-size: large;
    }

    .datetime {
        font-size: medium;
    }

    .description {
        font-size: large;
    }

    .icon {
        width: 80px;
        margin-bottom: 0;
    }

    .minmax p {
        font-size: small;
    }

    .info {
        font-size: small;
    }
}

@media (min-width:401px) and (max-width:500px) {
    .card {
        height: 85%;
        padding: 1em;
    }

    .search {
        padding: 10px;
    }

    input.search-bar {
        font-size: 18px;
        width: 70%;
    }

    .weather-unit span:first-child {
        margin-left: 3rem;
        margin-right: 1.3rem;
    }

    .city {
        font-size: large;
    }

    .datetime {
        font-size: medium;
    }

    .description {
        font-size: large;
    }

    .icon {
        width: 80px;
        margin-bottom: 0;
    }

    .minmax p {
        font-size: medium;
    }

    .info {
        font-size: medium;
    }
}

@media (min-width:501px) and (max-width:768px) {
    .card {
        height: 85%;
        padding: 1em;
    }

    .search {
        padding: 10px;
    }

    input.search-bar {
        font-size: 18px;
        width: 70%;
    }

    .weather-unit span:first-child {
        margin-left: 3rem;
        margin-right: 1.3rem;
    }

    .city {
        font-size: large;
    }

    .datetime {
        font-size: medium;
    }

    .description {
        font-size: large;
    }

    .icon {
        width: 80px;
        margin-bottom: 0;
    }

    .minmax p {
        font-size: medium;
    }

    .info {
        font-size: medium;
    }
}